/* ==================================================================== 
/* Twinkling Stars background derived from
/* https://codepen.io/WebSonick/pen/vjmgu
/* ==================================================================== */

*{
}
html{
	height: 100%;
}
body{
	text-align: center;
	background: url('../images/vintage-rising-sun.jpg') fixed center no-repeat;
	background-size: cover;
	color: white;
	text-shadow: 2px 1px #333, -1px -1px #999;
}
img{
	max-width: 100%;
}
p:last-child{
	margin-bottom: 0;
}

.noshow{
	display: none;
}
.vcenter{
	display: flex;
	align-items: center;
}
.translate{
	font-weight: normal;
	font-style: italic;
}



.site-header{
	padding: 20px 0;
}

.page-title{
	margin: 0;
}

.section{
	text-align: center;
}
.section-title{
	margin-bottom: 2em;
}

#options{
	list-style-type: upper-alpha;
}




.intro, .answers, .timer, .results{
	height: 100%;
	background: rgba(0,0,0,0.5);
	align-content: center;
}
.intro, .answers, .results{
	padding: 30px;	
}

.answers{
}
.answers ol{
	margin: 0;
	padding: 0 0 0 20px;
}

.answer{
	background: gray;
	border: 1px solid white;
	line-height: 40px;
	border-radius: 20px;
	transition: background 0.3s;
	cursor: pointer;
	font-size: 1.25em;
}
.answer:not(:last-child){
	margin-bottom: 15px;
}
.answer.correct{
	background: green;
}
.answer.wrong{
	background: red;
}




.timer{
}
.timer div{
	flex: 1 1 auto;
}
.secs{
	display: block;
	margin-top: 20px;
	font-size: 1.5em;
}
#time-left{
}


.results{
}
.results ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.result{
	font-size: 1.5em;
}
.result.correct{
	color: limegreen;
	text-shadow: 2px 1px black, -1px -1px green;
}
.result.wrong{
	color: red;
	text-shadow: 2px 1px black, -1px -1px maroon;
}



.btn-restart{
	display: block;
	cursor: pointer;
	width: 200px;
	line-height: 50px;
	border-radius: 25px;
	margin: 30px auto;
	font-size: 1.25em;
	background: white;
	border: 1px solid black;
	color: black;
	text-shadow: none;
	font-weight: bold;
}
.btn-restart:hover{
	background: gray;
}

@media (min-width: 768px){
	.row-sm-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
@media (min-width: 992px){
	.row-md-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
@media (min-width: 1200px){
	.row-lg-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}